@import './normalize.css';
:root {
    --color-text: #666;
    --color-high-text: #ff5777;
    /*背景颜色*/
    --color-tine: #ff8198;
    --color-background: #fff;
    /* 字体大小 */
    --font-size: 14px;
    --line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}